AutoGetNews.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: AutoGetNews
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:1.0.0@ae50a2db261bffa7289677f2b0a60e60762ceb187b602113b72425ccbe772dc3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1782439460863-source-1782701321034-target
      selected: false
      source: '1782439460863'
      sourceHandle: source
      target: '1782701321034'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1782701321034-source-1782440079724-target
      selected: false
      source: '1782701321034'
      sourceHandle: source
      target: '1782440079724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1782440079724-source-1782807199342-target
      selected: false
      source: '1782440079724'
      sourceHandle: source
      target: '1782807199342'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1782439460863-source-1782876170425-target
      selected: false
      source: '1782439460863'
      sourceHandle: source
      target: '1782876170425'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1782876170425-source-1782440079724-target
      selected: false
      source: '1782876170425'
      sourceHandle: source
      target: '1782440079724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1782807199342-source-1782718094321-target
      source: '1782807199342'
      sourceHandle: source
      target: '1782718094321'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: trigger-schedule
        targetType: http-request
      id: 1783329245279-source-1782439460863-target
      source: '1783329245279'
      sourceHandle: source
      target: '1782439460863'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: http_get_news
        type: http-request
        url: https://60s.viki.moe/v2/60s
        variables: []
      height: 121
      id: '1782439460863'
      position:
        x: 343.8159408977274
        y: 464.66176276344703
      positionAbsolute:
        x: 343.8159408977274
        y: 464.66176276344703
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3:8b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: 75432e6e-899d-430c-bcd9-74ea8b36d70e
          role: system
          text: '你是抖音早安电台的暖心主播，把下方新闻素材改写成 90 秒左右的口播文案。

            要求：

            1. 开头问候+日期星期，比如“早上好，今天是{{#1782876170425.today_date#}}{{#1782876170425.today_week#}}，欢迎收听今日早安资讯”

            2. 精选6-8条核心新闻，口语化表达，不用书面语和序号，用自然过渡连接

            3. 结尾加一句简短早安寄语，引导点赞关注

            4. 总字数 350-450 字，适配正常语速 90 秒

            5. 风格温暖沉稳，符合早间收听氛围


            新闻素材：

            {{#1782701321034.news_text#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              radio_script:
                type: string
            required:
            - radio_script
            type: object
        structured_output_enabled: false
        title: gen_script
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782440079724'
      position:
        x: 1061.8270003124037
        y: 464.66176276344703
      positionAbsolute:
        x: 1061.8270003124037
        y: 464.66176276344703
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body) -> dict:\n    try:\n        if not body:\n\
          \            return {\"news_text\": \"HTTP 返回为空，请检查接口连通性\"}\n        d =\
          \ json.loads(body)\n        news_list = d.get(\"data\", {}).get(\"news\"\
          , [])\n        lines = [f\"{i+1}. {str(n)}\" for i, n in enumerate(news_list[:15])]\n\
          \        return {\"news_text\": \"\\n\".join(lines)}\n    except Exception\
          \ as e:\n        return {\"news_text\": f\"解析错误: {e}\\n原始内容: {body[:200]}\"\
          }"
        code_language: python3
        outputs:
          news_text:
            children: null
            type: string
        selected: false
        title: 新闻数据清洗
        type: code
        variables:
        - value_selector:
          - '1782439460863'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1782701321034'
      position:
        x: 728.8384634070428
        y: 399.17918160337507
      positionAbsolute:
        x: 728.8384634070428
        y: 399.17918160337507
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-651
            key: ''
            type: text
            value: "{\n  \"text\": \"{{#1782807199342.res_script#}}\",\n  \"today_date\"\
              : \"{{#1782876170425.today_date#}}\",\n  \"today_week\": \"{{#1782876170425.today_week#}}\"\
              \n\n}"
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Video_HTTP_request
        type: http-request
        url: http://host.docker.internal:7888/make_video
        variables: []
      height: 137
      id: '1782718094321'
      position:
        x: 1061.8270003124037
        y: 661.6602258341704
      positionAbsolute:
        x: 1061.8270003124037
        y: 661.6602258341704
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nimport re\ndef main(script: str):\n    res_script = re.sub(r'<think>.*?</think>',\
          \ '', script, flags=re.S)\n    return {\n        \"res_script\": res_script\n\
          \    }\n"
        code_language: python3
        outputs:
          res_script:
            children: null
            type: string
        selected: false
        title: 处理SRT标签
        type: code
        variables:
        - value_selector:
          - '1782440079724'
          - text
          value_type: string
          variable: script
      height: 52
      id: '1782807199342'
      position:
        x: 1061.8270003124037
        y: 582.6118162386232
      positionAbsolute:
        x: 1061.8270003124037
        y: 582.6118162386232
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from datetime import datetime\n\ndef main():\n    now = datetime.now()\n\
          \    date_str = now.strftime(\"%Y年%m月%d日\")\n    week_map = [\"星期一\",\"\
          星期二\",\"星期三\",\"星期四\",\"星期五\",\"星期六\",\"星期天\"]\n    week_str = week_map[now.weekday()]\n\
          \n    return {\n        \"today_date\": date_str,\n        \"today_week\"\
          : week_str\n    }\n"
        code_language: python3
        outputs:
          today_date:
            children: null
            type: string
          today_week:
            children: null
            type: string
        selected: false
        title: today_datetime
        type: code
        variables: []
      height: 52
      id: '1782876170425'
      position:
        x: 728.8384634070428
        y: 535.7865937792451
      positionAbsolute:
        x: 728.8384634070428
        y: 535.7865937792451
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        config:
          frequency: daily
          mode: visual
          timezone: UTC
          visual_config:
            monthly_days:
            - 1
            on_minute: 0
            time: 12:00 AM
            weekdays:
            - sun
        frequency: daily
        mode: visual
        selected: false
        timezone: Asia/Shanghai
        title: 定时触发器
        type: trigger-schedule
        visual_config:
          monthly_days:
          - 1
          on_minute: 0
          time: 8:00 AM
          weekdays:
          - sun
      height: 130
      id: '1783329245279'
      position:
        x: -0.1475360655499287
        y: 443.66176276344703
      positionAbsolute:
        x: -0.1475360655499287
        y: 443.66176276344703
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -189.875595610167
      y: -355.1808983392066
      zoom: 0.8432134161181171
  rag_pipeline_variables: []
